@model IEnumerable<Ejder.Core.Models.Product>
@{
    Layout = "_LayoutBackoffice";
    ViewData["Title"] = "Turlar";
}

<h1>Turlar</h1>

<a href="/Tours/Create">+ Yeni Tur</a>

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Süre</th>
            <th>Fiyat</th>
            <th>Slug</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>@t.DurationDays Gün</td>
            <td>₺ @t.Price.ToString("N0")</td>
            <td>@t.Slug</td>
        </tr>
    }
    </tbody>
</table>
