<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Ejder Turizm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<header class="topbar">
    <div class="container">
        <strong class="logo">Ejder Turizm</strong>
        <nav>
            <a href="/turlar">Turlar</a>
            <a href="/iletisim">İletişim</a>
        </nav>
    </div>
</header>

<main>
    @RenderBody()
</main>

<footer class="footer">
    © 2026 Ejder Turizm
</footer>

</body>
</html>
